.input-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 50px;
}

.input {
    flex-grow: 1;
    font-size: 24px;
}

.submit {
    font-size: 24px;
}